// # Breakpoints
$small                       : 37.5em;
$medium                      : 42em;
$medium-wide                 : 50em;
$large                       : 64em;
$x-large                     : 85em;
$sidebar-width               : 30em;
$sidebar-width-small         : 25em;
$tags-width                  : 10em;
$tags-width-small            : 7.5em;
// Font
$type-size-1                 : 2em;      // ~32px
$type-size-2                 : 1.5em;    // ~24px
$type-size-3                 : 1.25em;   // ~20px
$type-size-4                 : 1em;      // ~16px
$type-size-5                 : 0.75em;   // ~12px
$type-size-6                 : 0.6875em; // ~11px
$type-size-7                 : 0.625em;  // ~10px
$gray                        : #737373;
$dark-gray                   : darken($gray, 25%);
$darker-gray                 : darken($gray, 60%);
$light-gray                  : lighten($gray, 25%);
$lighter-gray                : lighten($gray, 40%);
$post-card-border            : rgba(0, 0, 0, .2);
$tags-background-color       : #474d57;

$post-bg                     : white;

$text-color                  : $dark-gray;


@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $x-large) { @content ; }
   }
   @else if $point == laptop {
     @media (min-width: $large) and (max-width: $x-large) { @content ; }
   }
    @else if $point == tablet {
     @media (min-width: $medium-wide) and (max-width: $large) { @content ; }
   }
   @else if $point == phablet {
     @media (min-width: $small) and (max-width: $medium-wide)  { @content ; }
   }
   @else if $point == mobileonly {
     @media (max-width: $small)  { @content ; }
   }
   @else if $point == nodesktop {
     @media (max-width: $x-large) { @content ; }
   }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  word-break: break-all;
}

img {
  max-width: 100%;
  display: block;
  &.emoji {
    display: unset;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: KaiTi, sans-serif;
}

h1 {
  font-size: $type-size-1;
}

h2{
  font-size: $type-size-2;
}

p {
  margin-bottom: 1.3em;
}


main {
  height: 100%;
  background: $post-bg;
  overflow-x: hidden;
  overflow-y: auto;
  color: $darker-gray;
  line-height: 1.7;
}

.post-meta {
  color: $gray;
  font-size: $type-size-5;
}

#sidebar {
  display: block;
  height: 100%;
  float: left;
  @include breakpoint(desktop) {
    width: $sidebar-width;
  }
  @include breakpoint(nodesktop) {
    transform: translateX(-100%);
    width: $sidebar-width-small;
    position: absolute;
  }
  @include breakpoint(mobileonly) {
    width: 100%;
  }
}
#posts-tags {
  display: flex;
  min-width: $tags-width;
  flex-direction: column;
  height: 100%;
  background: $tags-background-color;
  @include breakpoint(nodesktop) {
    min-width: $tags-width-small;
  }
  @include breakpoint(mobileonly) {
    display: none;
  }
}
#avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 55px auto 35px;
  border-radius: 50%;
  background: $tags-background-color;
  background-size: 100px 100px;
}
#posts-list {
  background: $post-bg;
}
#tags-ul, #search-input, #pl-container, .tags-bottom {
  color: $light-gray;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
