/* ==========================================================================
BASE ELEMENTS
========================================================================== */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  position: relative;
  color: $link-color;
  text-decoration: none;
  word-break: break-all;
}

li {
  line-height: 2;
}

img {
  max-width: 80%;
  min-width: 40%;
  display: block;
  margin: auto;
  &.nofixed {
    min-width: unset;
  }
  &.vimg {
    min-width: unset;
  }
  &.emoji {
    display: unset;
    min-width: unset;
  }
}

img + br + em, img + em {
  display: block;
  text-align: center;
  font-family: $code-font;
  font-style: normal;
  font-size: $type-size-5;
}

img + br {
  display: none;
}

summary {
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-font;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: $type-size-1;
}

h2{
  font-size: $type-size-2;
}
h3 {
  font-size: $type-size-3;
  line-height: 1.5;
}

h4 {
  font-size: $type-size-4;
  line-height: 1.5;
}

strong {
font-weight: 600; }



p {
  margin-bottom: 1.3em;
}

