/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: $post-font;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

a {
  color: $link-color;
  text-decoration: none;
  word-break: break-all;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  &.emoji {
    display: unset;
  }
}

img + br + em {
  display: block;
  text-align: center;
  font-size: 12px;
}

img + br {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-weight: 400;*/
    /*margin: 10px 0;*/
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1 {
  font-size: $type-size-1;
}

h2{
    font-size: $type-size-2;
}
h3 {
    font-size: $type-size-3;
    line-height: 1.5;
}

h4 {
    font-size: $type-size-4;
    line-height: 1.5;
}

strong {
  font-weight: 600; }
/* blockquotes */

blockquote {
  margin: 1.5em 0 1.5em 2em;
  padding-left: .5em;
  padding-right: .5em;
  font-style: italic;
  border-left: 0.25em solid $light-gray;

  p {
    color: $dark-gray;
  }

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
  @include breakpoint(mobileonly) {
    margin-left: 0;
  }
}

iframe {
  margin-top: 1.5em;
  @include breakpoint(mobileonly) {
    height: 260px;
  }
}

/* code */

tt, code, kbd, samp, pre {
  font-family: $code-font;
}


p {
  margin-bottom: 1.3em;
}

ul.list {
  list-style-type: none;
  counter-reset: counter;
  padding-left:20px;
  ul {
    counter-reset: counter;
    list-style-type:none;
    padding-left:20px;
    li::before {
      counter-increment: counter;
      content: counters(counter, '.') ' ';
    }
  }
  li::before {
    counter-increment: counter;
    content: counters(counter, '.') '. ';
  }
}

/* reduce orphans and widows when printing */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

