.post {
  width: 100%;
  max-width: 100%;
  margin-top: 1.5em;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0px $post-card-border;
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px $post-card-border;
  }

  .post-content {
    padding: 1rem;
    width: 100%;
    .post-title {
      margin: 0 0 10px;
      font-size: 30px;
      font-weight: 400;
      a {
        font-family: $post-font;
        text-decoration: none;
      }
    }
    p {
      margin-top: 0;
    }
  }
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  a {
    color: $darker-gray;
    float: left;
    padding: 8px 16px;
    border: 1px solid $lighter-gray;
    text-decoration: none;
    &.active {
      background: $lighter-gray;
    }
    &:hover {
      background: $lighter-gray;
    }
  }
}

#page-nav {
  text-align: center;
}
.post-tags {
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 4px 8px 0 0;
    padding: 0 15px;
    letter-spacing: 0;
    &::before {
      content: "# ";
    }
    &:nth-child(1n) {
      border: 1px solid OliveDrab;
      border-radius: 15px;
      background: OliveDrab;
    }
    &:nth-child(2n) {
      border: 1px solid Teal;
      border-radius: 15px;
      background: Teal;
    }
    &:nth-child(3n) {
      border: 1px solid SteelBlue;
      border-radius: 15px;
      background: SteelBlue;
    }
    &:nth-child(4n) {
      border: 1px solid SlateGray;
      border-radius: 15px;
      background: SlateGray;
    }
    &:hover {
      color: $darker-gray;
      outline-style: none;
      background: $lighter-gray;
    }
}
