#markdown-toc {
  position: fixed;
  left: calc(75vw + 12em);
  right: 5em;
  top: 4em;
  bottom: 0;
  padding-left: 25px;
  z-index: 10000;
  box-sizing: border-box;
  font-size: calc(12px + 0.1vw);
  font-family: $head-font;
  line-height: 2;
  border-left: 1px solid $light-gray;
  overflow-x: hidden;
  overflow-y: auto;

  @include breakpoint(nodesktop) {
    display: none;
  }

  &::before {
    content: "目录";
    padding-left: 1em;
  }

  ul {
    padding-left: 25px;
  }

  a {
    text-decoration: none;
    color: $dark-gray;
    line-height: 1.3;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-overflow: ellipsis;
  }

  li.active > a,
  li:hover > a {
    color: #009A61;
  }

  .highlight-title {
    border-left: 2px solid #009A61;
    background: $lighter-gray;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.2s ease;
  }

}
