
/*---------------------------------*\
   Post
\*---------------------------------*/
#post {
  height: 100%;
  background: $post-bg;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $post-font;
  -webkit-overflow-scrolling: touch;
  color: $darker-gray;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}

#pjax {
  height: 100%;
  padding: 0 1em 30px;
  &.fadeIn {
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
  }
  &.fadeOut {
    -webkit-animation: fadeOut .3s;
    animation: fadeOut .3s;
  }
  @include breakpoint(desktop) {
      max-width: 75%;
  }
  @include breakpoint(nodesktop) {
      max-width: 1000px;
      margin: 0 auto;
  }
}

.post__meta {
    color: $gray;
    font-size: $type-size-5;
}

#post__title {
  margin: 0;
  padding-top: 1.1em;
  font-size: $type-size-1;
}

.flash {
  -webkit-animation: flash .6s;
  animation: flash .6s;
}
