
/*---------------------------------*\
   Sidebar => Tags & Posts List
\*---------------------------------*/
#sidebar {
  display: flex;
  height: 100%;
  float: left;
  @include breakpoint(desktop) {
    width: $sidebar-width;
    transition: margin-left 0.5s;
    &.fullscreen{
      margin-left: -30em;
    }
  }
  @include breakpoint(nodesktop) {
    width: $sidebar-width-small;
    position: absolute;
    z-index: 97;
    transition: transform 0.5s;
    transform: translateX(-100%);
    &.fullscreen {
      transform: translateX(0);
    }
  }
  @include breakpoint(mobileonly) {
    width: 100%;
  }

}

/*---------------------------------*\
   Tags
\*---------------------------------*/
#posts-tags {
  display: flex;
  min-width: $tags-width;
  flex-direction: column;
  height: 100%;
  background: $tags-background-color;
  border-right: 1px solid $tags-border-color-dark;
  box-shadow: inset -15px 0 15px -15px #222;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include breakpoint(nodesktop) {
    min-width: $tags-width-small;
  }
  @include breakpoint(mobileonly) {
    display: none;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 55px auto 35px;
  border-radius: 50%;
  box-shadow: 0 0 0px 4px white, 0 0 4px 4px #eee;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  overflow: hidden;
  display: block;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0 10px 4px $lighter-gray;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-size: 100px 100px;
    }
}

#tags-ul {
  visibility: visible;
  opacity: 1;
  display: block;
  flex: auto;
  margin: 0;
  padding: 0;
  font-size: 17px;
  border-top: 1px solid $tags-border-color-dark;
  border-bottom: 1px solid $tags-border-color-light;
  list-style: none;
}


li.tags {
  padding: 12px 35px 9px;
  border-top: 1px solid $tags-border-color-light;
  border-bottom: 1px solid $tags-border-color-dark;
  cursor: pointer;
  text-align: center;
  &.active {
    margin-right: -1px;
    color: black;
    background: $list-background-color;
    border-right: 1px solid $list-background-color;
    border-radius: 5px 0 0 5px;
    position: relative;
    transition: none;
    &:hover {
      color: black;
      background: $list-background-color; }
    &::before, &::after {
      content: "";
      width: 6px;
      height: 6px;
      background: transparent;
      position: absolute;
      right: -3px;
    }
    &::before {
      top: -6px;
      border-right: 2px solid $list-background-color;
      border-bottom: 2px solid $list-background-color;
      border-radius: 0 0 6px 0;
    }
    &::after {
      bottom: -6px;
      border-right: 2px solid $list-background-color;
      border-top: 2px solid $list-background-color;
      border-radius: 0 6px 0 0;
    }
  }
}

.tags-bottom {
  min-height: 44px;
  border-top: 1px solid $tags-border-color-dark;
  overflow: hidden;
  &> .fontello{
    width: 33.33%;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    border-top: 1px solid $tags-border-color-light;
    float: left;
  }
}

.tags-btn {
  color: $light-gray;
  transition: color .3s, background .3s;
  &:hover {
    color: $lighter-gray;
    background: $tags-border-color-dark;
  }
}

/*---------------------------------*\
   Posts List
\*---------------------------------*/
#posts-list {
  display: block;
  flex: auto;
  visibility: visible;
  overflow: hidden;
  height: 100%;
  background: $post-bg;
  border-right: 1px solid $lighter-gray;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#search-form {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid $lighter-gray;
  @include breakpoint(mobileonly) {
      height: 51px;
      display: flex;
  }
}

#mobile-avatar {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  display: none;
  @include breakpoint(mobileonly) {
    display: block;
    float: left;
  }
}

#search-input {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px 20px 0;
  color: $dark-gray;
  font-size: 18px;
  font-family: inherit;
  background: $list-background-color;
  border: none;
  outline: none;
  cursor: text;
  &::-webkit-input-placeholder {
    color: $light-gray;
    font-style: italic; }
  &::-moz-placeholder {
    color: $light-gray;
    font-style: italic; }
  &:-ms-input-placeholder {
    color: $light-gray;
    font-style: italic; }
  @include breakpoint(mobileonly) {
    padding: 10px 10px 0;
    flex: 1;
  }
}

#pl-container {
  visibility: visible;
  opacity: 1;
  padding-top: 7px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: -1px;
  -webkit-overflow-scrolling: touch;
  a {
    color: $tags-list-color;
    &.active {
      color: $link-color-active;
    }
  }
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: rgba(158,188,226,0.3);
  }
  @include breakpoint(mobileonly) {
    font-size: 15px;
    top: 50px;
  }
}

.pl-all {
  margin: 4px 12px;
  padding: 4px 8px 3px;
  border-radius: 4px;
  display: block;
  &:hover {
    background: rgba(242, 242, 242, 0.5);
  }
  &:visited > .pl-title {
      color: $gray;
  }
  &:visited > .pl-circle {
    background: $list-background-color;
  }
  &:visited:hover > .pl-circle {
    background: rgba(242, 242, 242, 0.5);
  }
  &.active {
    background: rgba(242, 242, 242, 0.5);
    box-shadow: -1px 1px rgba(229, 232, 236, 0.9);
  }
  &.active > .pl-circle {
    background: rgba(242, 242, 242, 0.5);
    border-color: $link-color-active;
  }
  @include breakpoint(mobileonly) {
    margin: 4px 0;
    border-radius: 0;
  }
}

.pl-circle {
  width: .75em;
  height: .75em;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
  background: $gray;
  border: 2px solid $gray;
  border-radius: 50%;
  display: inline-block;
  transition: border-color .35s;
}

.pl-title {
  max-width: calc(100% - 6em);
  display: inline-block;
}

.pl-date {
  color: $gray;
  font-size: 14px;
  float: right;
}
