#ds-reset a.ds-user-name[data-user-id='6398016319114969857']:after {
    content: "魔法笔记的记录者";
    margin-left: 6px;
    font-size: 12px;
    color: #13BF20;
    background: rgba(255, 255, 255, .35);
    border-radius: 4px;
    padding: 0 3px;
}
