<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    {% include header.html %}
    {% if site.analytics.google %}
        {% include ganalytics.html %}
    {% endif %}
    {% seo %}
  </head>
  <body>
    {% include nav.html %}
    <div id="post">
      <div id="pjax">
        <div id="full">
          {{ content }}
        </div>
        {% include copyright.html %}
      </div> <!-- end #pjax -->
    </div> <!-- end #post -->

    <button id="js-fullscreen">→</button>

    {% include footer.html %}

   </body>
 </html>
