<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav.html %}
    <div id="post">
      <div id="pjax">
        <div id="full">
          {{ content }}
        </div>
        {% include copyright.html %}
      </div> <!-- end #pjax -->

      <div id="toc" class="hidden">
          <ul id="post__toc-ul"></ul>
      </div>
    </div> <!-- end #post -->

    <button id="js-fullscreen">→</button>

    {% include footer.html %}

   </body>
 </html>
