<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    {% include header.html %}
    {% if site.analytics.google %}
        {% include ganalytics.html %}
    {% endif %}
    {% if site.pwa %}
    <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
    </script>
    {% endif %}
    {% seo %}
  </head>
  <body>
    {% include nav.html %}
    <main id="post">
      <section id="pjax">
        {{ content }}
      </section> <!-- end #pjax -->
    </main> <!-- end #post -->

    <button id="js-fullscreen">→</button>

    {% include footer.html %}

   </body>
 </html>
