<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="{{ site.blog.title }}">
  <meta name="author" content="{{ site.author.name }}">
  {% if page.index == true %}<meta name="keywords" content="{{ site.blog.title }}, {{ site.blog.name }}, {{ site.blog.description }}, {{ site.author.name }}">{% else %}<meta name="keywords" content="{{ page.title }}, {{ site.blog.name }}, {{ site.author.name }}">{% endif %}
  {% if page.index == true %}<title>{{ site.blog.title }}</title>{% else %}<title>{{ page.title }} - {{ site.blog.name }}</title>{% endif %}
  {% if page.index == true %}<link rel="canonical" href="{{ site.blog.url }}">{% else %}<link rel="canonical" href="{{ site.blog.url }}{{ page.url }}">{% endif %}
  <link rel="icon" href="/res/img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/res/css/public.css">
  <link rel="stylesheet" href="/res/css/light.css">
  <script src="/res/js/light.js"></script>
  <script src="/res/js/toc.js" ></script>
</head>
<body>
  <div id="blog">
    {% include sidebar.html %}
    {% if page.post == true %}
    <div id='toc'></div>
    {% endif %}
    <div class="main">
    {{ content }}
    {% if page.index == true or page.post == true %}{% include footer.html %}{% endif %}
    </div>
  </div>    
  <div id="top"><a id="rocket" href="javascript:;" title="返回顶部"><i></i></a></div>
  {% if page.index == true or page.math == true %}
  <script src="http://cdn.bootcss.com/mathjax/2.4.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script>MathJax.Hub.Config({tex2jax:{inlineMath: [['$','$']],displayMath: [['$$','$$']],processEscapes: true}});</script>
  {% endif %}
  {% if page.post == true %}
  <script type="text/javascript">$(document).ready(function() {$('#toc').toc();}); </script>
  <style type="text/css">#toc{transition:all 0.5s;} </style>

  <script type="text/javascript">
  $(window).scroll(function(){
    var tops=$(window).scrollTop();           //当前屏幕最上端到网页最上端距离
    var hof_toc=$("#toc").outerHeight();      //toc 的高度
    var hof_main=$(".post-main").outerHeight()//main 的高度
    var top1=$(".post-main").offset().top;    //post-main (内容)的与顶端的距离
    // 三种情况
    // 最顶端的时候和内容等高
    // 下拉以后和浏览器最高点等高
    // 这两种情况都是margin-top等于
    // 拉到内容结束后下端和内容结束后等高
    if(tops <= top1) {$("#toc").css("margin-top",top1)}
    else if(tops >= top1+hof_main-hof_toc) {$("#toc").css("margin-top",top1+hof_main-hof_toc)}
    else{$("#toc").css("margin-top",tops)}
  });
  </script>
  {% endif %}
</body>
</html>