---
layout: base
---

<article id="post__content">
    <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>
     <div class="post__meta">
        <span class="post__date">
            <span class="post-meta-item-icon">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </span>
            <span>发表于</span>
            <time datetime="{{page.create}}">{{ page.create| date: "%Y-%m-%d" }}</time>
        </span>
        <span class="post__date">
             |
            <span class="post-meta-item-icon">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
            <span>修改于</span>
            <time datetime="{{page.date}}">{{ page.date| date: "%Y-%m-%d" }}</time>
        </span>
        <span class="post-category">
             |
            <span class="post-meta-item-icon">
                <i class="fa fa-folder-o" aria-hidden="true"></i>
            </span>
            <span class="post-meta-item-text">分类于 {{page.category}}</span>
        </span>
        <span class="post-read">

            <span id="busuanzi_container_page_pv">
             |
            <span class="post-meta-item-icon">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>阅读次数 <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span>
            </span>
        </span>
     </div>
    {{ content }}
    <div class="tag-container">
    {% for tag in page.tags %}
        <a class="post-tags" href="/tag.html#{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </div>
    <div class="declare">
        <div>
            <hr>
            {% include article_copyright.html %}
        </div>
    </div>
</article>
<!-- end #post__content -->

{% include comment.html %}
